exportPattern("^[[:alpha:]]+")
import(limma)
import(tcltk)
import(gWidgets2)
import(gWidgets2tcltk)
import(tkrplot)
import(RColorBrewer)
importFrom("grDevices", "bmp", "dev.off", "jpeg", "pdf", "png", "postscript", "colorRampPalette", "tiff")
importFrom("graphics", "barplot", "boxplot", "hist", "par", "persp", "pie", "plot", "rect", "legend")
importFrom("stats", "density", "heatmap")
importFrom("utils", "read.table")
