exportPattern("^[[:alpha:]]+")
import(limma)
import(tcltk)
import(RGtk2)
import(gWidgets2)
import(gWidgets2RGtk2)
import(cairoDevice)
importFrom("grDevices", "bmp", "dev.off", "jpeg", "pdf", "png", "postscript")
importFrom("graphics", "barplot", "boxplot", "hist", "par", "persp", "pie", "plot", "rect")
importFrom("stats", "density")
importFrom("utils", "read.table")

